<br>
<div class="user-details">
  <div class="user-details__section">
    <span class="user-details__label">Name:</span>
    <span class="user-details__value">Consuelo García</span>
  </div>
  <div class="user-details__section">
    <span class="user-details__label">Gender:</span>
    <span class="user-details__value">Female</span>
  </div>
  <!-- Other user information sections go here -->
  <div class="user-details__section">
    <span class="user-details__label">Picture:</span>
    <img class="user-details__picture" src="https://randomuser.me/api/portraits/women/3.jpg" alt="Profile Picture">
  </div>
</div>
